/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #141414;
}

/* Contenedor principal */
.app-container {
  max-width: 960px;
  margin: auto;
  padding: 20px;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 20px;
}

/* Botones */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #398ae0;
  color: #fff;
  font-weight: bold;
}

.btn-secondary {
  background-color: #f4f4f4;
  color: #141414;
  font-weight: bold;
}

/* Estilos generales para la tabla CRUD */
.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

.table-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.table-header {
  background-color: #f1f1f1;
  color: #333;
  text-align: left;
}

.table-header th {
  padding: 12px;
  font-weight: bold;
}

.table-row {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.table-row:hover {
  background-color: #f9f9f9;
}

.table-info,
.table-price,
.table-category {
  padding: 8px 12px;
}

.table-actions {
  text-align: center;
}

.table-actions button {
  padding: 6px 12px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.table-actions .edit-btn {
  background-color: #398ae0;
  color: white;
  border: none;
}

.table-actions .delete-btn {
  background-color: red;
  color: white;
  border: none;
}

.table-actions button:hover {
  opacity: 0.8;
}

/* Tabla de Historial de Ventas */
.sales-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.sales-table th,
.sales-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.sales-table th {
  background-color: white;
  color: black;
}

/* Estilos para la paginación */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-container button {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #398ae0;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.pagination-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-container span {
  font-size: 16px;
}